@import "tailwindcss";

@font-face {
  font-family: Questrial;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/questrial_n4.0ba6d2b6094954bab23732c75d3ecb4c47a5869c.woff2")
    format("woff2");
}

@font-face {
  font-family: Archivo;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/archivo_n7.6f363ab30b12ea00d5e6243ed0e977a11393a3ad.woff2")
    format("woff2");
}

.archivo {
  font-family: "Archivo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  min-width: 320px;
}

:root {
  /* Variables */

  /* Font family */
  --font-body-family: "Questrial", sans-serif;
  --font-heading-family: "Archivo", serif;

  /* Font size */

  --smallest: 1.2rem;
  --details: 1.3rem;
  /*up to 1.4 or 14px*/

  --body-text: 1.6rem;
  /*up to 1.8 or 18px*/

  --subtitle: 1.8rem;
  /*up to 2.0*/

  --title: 2.4rem;
  /*up to 2.8*/

  --header: 3.2rem;
  /*up to 3.8*/

  /* Colores */

  --yellow: #ffc629;
  --black: #000;
  --white: #fff;
}
